<div class="btn-group" style="width: 100%">
  <button type="button"   class=" btn-select btn " (click)="toggleDropdown()" [disabled]="disabled" style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
    {{getButtonText()}}&nbsp;    <span class="caret" style="position:absolute;right:5px; top:5px;"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-form"
      [ngStyle]="{display: collapse ? 'block' : 'none'}" style="width: 100%; overflow-x: auto; max-height: 300px;">
    <li *ngIf="showSearch">
      <div class="dropdown-header">
        <input type="text" class="form-control input-sm" style="width: 100%;"
               [ngModel]="searchFilter" placeholder="{{labels.search || 'Search...'}}" (input)="onSearchChange($event.target.value)" />
      </div>
    </li>

    <li *ngIf="showSearch" class="divider"></li>
    <li *ngIf="showSelectAll || showUnselectAll">
      <a (click)="selectAll()"  *ngIf="showSelectAll" style="display:inline">
        <span class="glyphicon glyphicon-ok"></span> {{labels.selectAll || 'Select All'}}
      </a>

<!--    </li>-->
<!--    <li *ngIf="showUnselectAll">-->
      <a (click)="unselectAll()"  *ngIf="showUnselectAll" style="display:inline">
        <span class="glyphicon glyphicon-remove"></span> {{labels.unselectAll || 'Unselect All'}}
      </a>
    </li>
    <li *ngIf="(showSelectAll || showUnselectAll)"
        class="divider">
    </li>

    <li role="presentation" *ngFor="let option of selectedItems" class="active">
      <a class="item-selected"  title="{{showTooltip ? getDisplay(option) : ''}}" (click)="toggleItem(option); $event.stopPropagation()" style="overflow-x: hidden;text-overflow: ellipsis">
        <span class="glyphicon glyphicon-remove"></span>
        {{getDisplay(option)}}
      </a>
    </li>
    <li *ngIf="selectedItems.length > 0" class="divider"></li>


<!--    <li role="presentation" *ngFor="let option of unselectedOptions | filter:search() | limitTo: searchLimit" *ngIf="!isSelected(option)"-->
    <li role="presentation" *ngFor="let option of filteredOptions"
        [ngClass]="{disabled : selectionLimit && selectedItems.length >= selectionLimit}">
      <a class="item-unselected" title="{{showTooltip ? getDisplay(option) : ''}}" (click)="toggleItem(option); $event.stopPropagation()" style="overflow-x: hidden;text-overflow: ellipsis">
        {{getDisplay(option)}}
      </a>
    </li>

    <li class="divider" *ngIf="selectionLimit && selectionLimit > 1"></li>
    <li role="presentation" *ngIf="selectionLimit && selectionLimit > 1">
      <a>{{selectedItems.length || 0}} / {{selectionLimit}} {{labels.itemsSelected || 'selected'}}</a>
    </li>

  </ul>
</div>
